<h1>Pledge Form</h1>

<form action="/pledges" method="POST">
  <label>
    Name
    <input type="text" name="name">
  </label>

  <label>
    Amount
    <input type="text" name="amount">
  </label>

  <button>Submit</button>
</form>